.Modal_container {
  position: absolute;
  display: flex;
  width: 550px;
  max-height: 530px;
  overflow: hidden;
  z-index: 10;

  .Modal {
    width: 100%;
    max-width: 250px;
    min-height: 500px;
    background-color: #262626;
    transition: translate;
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    border-radius: 25px;
    opacity: 0.87;
   
    .Modal__close {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      color: white;

      p {
        margin: 15px;
        cursor: url("../../../img//cursor2.png"), pointer;
        font-size: 22px;
      }
      p:hover {
        color: #5d5d5d;
      }
    }

    .Modal__img,
    .Modal__text {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #5d5d5d;
      padding: 20px;

    }

    .Modal__text {
      flex-direction: column;
      align-items: center;
      color: #5d5d5d; 
    }
    .Modal__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .delete__all {
        margin: 10px;
        width: 80px;
        background-color: #5d5d5d;
      }
      button {
        width: 220px;
        height: 39px;
        background-color: #fa7272;
        color: white;
        cursor: url("../../../img//cursor2.png"), pointer;
        border-radius: 8px;
      }
      button:hover {
        background-color: #f1f1f1;
        color: #262626;
      }
      button:active {
        background-color: #fa7272;
      }
      input {
        margin: 10px;
        background-color: transparent;
        padding: 10px;
        color: white;
      }
      .Modal__button_delete {
        display: flex;
        flex-direction: row;
        .cancel,
        .delete {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .cancel {
          width: 88px;
          background: #ffffff;
          color: #262626;
        }

        .cancel:hover {
          background-color: #5d5d5d;
          color: white;
        }
        .cancel:active {
          background-color: white;
        }
        .delete {
          width: 103px;
          margin-left: 5px;
        }
      }
    }
  }
}
